Repository Enriquefft/next-fullstack-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

pre-push:
  parallel: true
  commands:
    build:
      run: bun run build
    test:
      priority: 2
      run: bun test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: biome >/dev/null 2>&1 && biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx tsc --noEmit

feat: upgraded drizzle & other packages
  bun.lockb
  package.json
  src/db/index.ts
  src/env.ts
Due: lint, types

feat: added biome config
  biome.jsonc
  bun.lockb
  flake.nix
  lefthook.yml
  package.json
  src/app/api/auth/[...all]/route.ts
  src/app/page.tsx
  src/auth.ts
  src/db/schema/auth.ts
  src/env.ts
  src/lib/auth-client.ts
Due: lint, types

style:format
  biome.jsonc
  src/app/page.tsx
  src/auth.ts
  src/db/schema/auth.ts
  src/env.ts
Due: lint, types

feat: added vercel as auth url
  src/env.ts
Due: lint, types

style: format
  src/env.ts
Due: lint, types

feat: migrated bun lockfile
  bun.lock
  bun.lockb
Due: none

chore: removed packa.lock
  package-lock.json
Due: lint

feat: added schema to auth table
  next.config.ts
  src/auth.ts
  src/db/index.ts
  src/db/schema/auth.ts
  src/db/schema/index.ts
  src/db/schema/post.ts
  src/db/schema/schema.ts
Due: lint, types

style: format
  next.config.ts
  src/db/schema/post.ts
  src/db/schema/schema.ts
Due: lint, types

chore: removed unnused font
  public/fonts/big_noodle_titling.ttf
  public/fonts/big_noodle_titling_oblique.ttf
  src/styles/fonts.ts
  src/styles/globals.css
Due: lint, types

feat: added google oauth
  .env.example
  auth-schema.ts
  biome.jsonc
  package.json
  src/auth.ts
  src/db/index.ts
  src/env.ts
Due: lint, types

style: format
  auth-schema.ts
Due: lint, types

feat: migrated to biome 2.0
  .env.example
  auth-schema.ts
  biome.jsonc
  bun.lock
  components.json
  drizzle.config.ts
  flake.lock
  flake.nix
  next.config.ts
  package.json
  postcss.config.cjs
  src/app/api/auth/[...all]/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/auth.ts
  src/components/login-form.tsx
  src/components/ui/button.tsx
  src/db/index.ts
  src/db/schema/auth.ts
  src/db/schema/post.ts
  src/db/schema/schema.ts
  src/env.ts
  src/lib/utils.ts
  src/metadata.ts
  tests/components/button.test.tsx
  tsconfig.json
Due: lint, types

style: format
  biome.jsonc
  package.json
Due: lint

feat: added posthog
  .env.example
  .gitignore
  bun.lock
  next.config.ts
  package.json
  src/app/layout.tsx
  src/components/PostHogProvider.tsx
  src/env.ts
  src/lib/posthog.ts
Due: lint, types

style: format
  src/components/PostHogProvider.tsx
  src/env.ts
  src/lib/posthog.ts
Due: lint, types

style: format
  src/env.ts
  src/lib/utils.ts
Due: lint, types

chore: removed coverage reporter
  bunfig.toml
Due: none

feat: added polar
  .env.example
  .github/workflows/deploy.yml
  bun.lock
  package.json
  src/app/api/checkout/route.ts
  src/app/confirmation/page.tsx
  src/app/page.tsx
  src/components/ProductCard.tsx
  src/components/submit-button.tsx
  src/components/ui/sonner.tsx
  src/env.ts
  src/lib/handle-error.ts
  src/lib/polar.ts
Due: lint, types

style: format
  src/app/page.tsx
  src/components/ProductCard.tsx
  src/components/ui/sonner.tsx
Due: lint, types

feat: added more components
  bun.lock
  package.json
  src/auth.ts
  src/components/AddressAutocomplete.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/popover.tsx
  src/components/ui/scroll-area.tsx
  src/hooks/use-google-places.tsx
  src/hooks/use-mobile.tsx
  src/lib/utils.ts
Due: lint, types

feat: added commit
  biome.jsonc
  bun.lock
  package.json
  src/components/sign-in.tsx
  src/components/ui/card.tsx
  src/lib/zod.ts
  tests/debounce.test.ts
Due: lint, types

style: fromat
  src/components/ui/card.tsx
Due: lint, types

feat: added dark mode toogle
  bun.lock
  package.json
  src/app/layout.tsx
  src/components/mode-toogle.tsx
  src/components/theme-provider.tsx
  src/components/ui/dropdown-menu.tsx
Due: lint, types

style: format
  src/app/layout.tsx
  src/components/mode-toogle.tsx
  src/components/theme-provider.tsx
  src/components/ui/dropdown-menu.tsx
Due: lint, types

chore: upadte
  bun.lock
Due: none

chore: added rhf devtools
  bun.lock
  package.json
Due: lint

feat: regular update
  bun.lock
  package.json
Due: lint

feat: upgraded packages
  bun.lock
  package.json
Due: lint

chore: removed .gh action
  .github/workflows/deploy.yml
Due: none

chore: updated deps
  bun.lock
  package.json
Due: lint

chore: updated deps
  bun.lock
  flake.lock
Due: none

chore: add repository agent instructions
  AGENTS.md
  docs/brand.md
Due: none

chore: add repository agent instructions (#8)
  AGENTS.md
  docs/brand.md
Due: none

feat: added agents.md
  AGENTS.md
Due: none

feat: udpate biome
  bun.lock
  package.json
Due: lint

chore: update
  auth-schema.ts
  bun.lock
  package.json
Due: lint, types

chore: update nix deps
  flake.lock
  flake.nix
Due: none

chore: biome update
  src/components/PostHogProvider.tsx
  src/components/login-form.tsx
  src/components/mode-toogle.tsx
  src/components/theme-provider.tsx
  src/env.ts
  src/lib/utils.ts
Due: lint, types

docs: document technology choices
  README.md
Due: none
