Repository Enriquefft/next-fullstack-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

types:
  run: bunx tsc --noEmit

feat: add database connection test for CI debugging
  .github/workflows/ci.yml
  scripts/test-db-connection.js
Due: lint, types

fix: use wrapper script for E2E test server environment
  e2e/playwright.config.ts
  scripts/start-test-server.sh
  scripts/test-db-connection.js
Due: lint, types

fix: set correct working directory for E2E test server script
  e2e/playwright.config.ts
Due: lint, types

chore: regular commit
  .claude/rules/seo.md
  .claude/settings.local.json
  CLAUDE.md
Due: lint

fix: export environment variables in test server script
  scripts/start-test-server.sh
Due: none

fix: use bunx to run locally installed next command
  scripts/start-test-server.sh
Due: none

chore: regular commit
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  README.md
  flake.nix
  scripts/codebase_ops.sh
  scripts/lib/core/config.sh
  scripts/lib/core/utils.sh
Due: lint

chore: regular commit
  .codebase-ops.json
  .codebase-ops.local.json.example
  docs/DEPLOYMENT.md
  docs/ENVIRONMENT.md
  scripts/README.md
  scripts/lib/core/config-loader.sh
Due: lint

chore: remove temporary debug code
  .github/workflows/ci.yml
  .vscode/README.md
  .vscode/keybindings.json
  .vscode/tasks.json
  README.md
  scripts/debug-db-url.js
  scripts/encode-db-url.js
  scripts/start-test-server.sh
  scripts/test-db-connection.js
  src/env/db.ts
Due: lint, types

fix: make Polar plugin optional in test environments
  .github/workflows/ci.yml
  scripts/codebase_ops.sh
  scripts/lib/core/analytics.sh
  src/auth.ts
Due: lint, types

chore: regular commit
  README.md
Due: none

chore: regular commit
  .github/workflows/ci.yml
  src/auth.ts
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  .codebase-ops.json
  .vscode/keybindings.json
  .vscode/tasks.json
  CLAUDE.md
  bun.lock
  e2e/setup/db.ts
  flake.nix
  package.json
  src/env/db.ts
  tests/script/README.md
  tests/script/fixtures/operations/20241220_120000.json
  tests/script/fixtures/operations/20241221_140000.json
  tests/script/helpers/test-helpers.sh
  tests/script/integration/full-workflow.bats
  tests/script/mocks/claude
  tests/script/unit/analytics.bats
  tests/script/unit/config-loader.bats
  tests/script/unit/context-detection.bats
  tsconfig.json
  vercel.json
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  CLAUDE.md
  e2e/setup/global-setup.ts
Due: lint, types

chore: regular commit
  .claude/docs/deployment.md
  .claude/docs/migration-quickstart.md
  .claude/settings.local.json
  .env.example
  CLAUDE.md
  e2e/setup/global-setup.ts
  package.json
  scripts/lib/env-setup-lib.sh
  scripts/migrate.ts
Due: lint, types

chore: regular commit
  e2e/setup/global-setup.ts
Due: lint, types

fix: resolve E2E test failures and CI issues
  .claude/docs/migration-implementation-summary.md
  e2e/playwright.config.ts
  scripts/start-test-server.sh
Due: lint, types

fix: add --force flag to drizzle-kit push in E2E setup
  e2e/setup/global-setup.ts
Due: lint, types

chore: regular commit
  .claude/settings.local.json
Due: lint

fix: pipe yes to drizzle-kit push to auto-confirm in CI
  e2e/setup/global-setup.ts
Due: lint, types

chore: cleanup E2E test debugging artifacts
  .claude/docs/migration-implementation-summary.md
  e2e/setup/global-setup.ts
Due: lint, types

chore: regular commit
  .claude/commands/discover-prd.md
  .claude/settings.local.json
  SETUP-GUIDE.md
  scripts/lib/core/parallel.sh
  scripts/lib/prompts/fix/diagnostic.md
  scripts/lib/prompts/fix/fix_group.md
  scripts/lib/prompts/improve/diagnostic.md
  scripts/lib/prompts/improve/improve_group.md
Due: lint

chore: regular commit
  .github/workflows/security.yml
  flake.lock
Due: none

chore: regular commit
  src/lib/polar.ts
Due: lint, types

chore: regular commit
  .github/workflows/security.yml
Due: none

feat: integrate Kapso.ai WhatsApp messaging platform
  .env.example
  CLAUDE.md
  bun.lock
  package.json
  src/app/actions/kapso-platform.ts
  src/app/actions/whatsapp.ts
  src/components/kapso-platform-example.tsx
  src/components/whatsapp-message-form.tsx
  src/env/server.ts
  src/lib/kapso.ts
Due: lint, types

chore: apply Biome formatting to settings.local.json
  .claude/settings.local.json
Due: lint

feat: implement dynamic CLAUDE.md documentation system
  .claude/docs/README.md
  .claude/docs/feature-manifest.json
  .claude/docs/sections/core/01-intro.md
  .claude/docs/sections/core/02-dev-commands.md
  .claude/docs/sections/core/03-architecture-base.md
  .claude/docs/sections/core/04-nextjs-patterns.md
  .claude/docs/sections/core/05-code-organization.md
  .claude/docs/sections/core/06-styling.md
  .claude/docs/sections/core/07-performance.md
  .claude/docs/sections/core/08-code-style.md
  .claude/docs/sections/core/09-git-workflow.md
  .claude/docs/sections/core/10-type-safety.md
  .claude/docs/sections/core/11-important-patterns.md
  .claude/docs/sections/core/12-prd-workflow.md
  .claude/docs/sections/features/analytics.md
  .claude/docs/sections/features/auth.md
  .claude/docs/sections/features/database.md
  .claude/docs/sections/features/forms.md
  .claude/docs/sections/features/i18n.md
  .claude/docs/sections/features/maps.md
  .claude/docs/sections/features/payments.md
  .claude/docs/sections/features/seo.md
  .claude/docs/sections/features/uploads.md
  .claude/docs/sections/features/whatsapp.md
  .claude/scripts/build-claude-md.ts
  CLAUDE.md
  package.json
Due: lint, types

chore: regular commit
  .claude/commands/implement-prd.md
  .claude/commands/next-step.md
  .claude/prd/00-overview.md
  .claude/prd/05-integrations.md
  .claude/settings.local.json
  .env.example
  CLAUDE.md
  DEPLOYMENT.md
  README.md
  SETUP-GUIDE.md
  bun.lock
  docs/DEPLOYMENT.md
  docs/ENVIRONMENT.md
  package.json
  scripts/lib/env-setup-lib.sh
  scripts/setup-env.sh
  scripts/setup-github-secrets.sh
  scripts/setup-new-repo.sh
  scripts/setup-vercel-env.sh
  src/env/db.ts
  src/env/server.ts
Due: lint, types

chore: regular commit
  scripts/lib/env-config.sh
  src/app/api/whatsapp/webhook/route.ts
  src/lib/kapso.ts
Due: lint, types

chore: regular commit
  biome.jsonc
  scripts/gcommit
Due: lint

chore: regular commit
  .claude/settings.local.json
  src/auth.ts
  src/env/db.ts
  src/env/server.ts
  tests/server-action-import.test.ts
Due: lint, types

feat: improved docs
  .claude/docs/deployment.md
  .claude/docs/migration-quickstart.md
  .claude/rules/e2e-testing.md
  .claude/rules/seo.md
  .env.example
  CLAUDE.md
  README.md
  SETUP-GUIDE.md
  TEMPLATE_CHECKLIST.md
  scripts/deploy/strategies/auto-push.ts
  scripts/deploy/strategies/prompt.ts
  src/app/manifest.ts
  src/app/robots.ts
Due: lint, types

feat: added design quick win
  .claude/commands/speckit.implement.md
  README.md
Due: none

fix: missing files
  .claude/commands/design.md
  .claude/commands/init-brand.md
  .claude/commands/speckit.design.md
Due: none

chore: regular commit
  .claude/settings.local.json
  .gitignore
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  TEMPLATE_CHECKLIST.md
  TODO.md
  specs/001-test-worktree-implementation/spec.md
Due: lint

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  types: any of: *.{js,ts,jsx,tsx}
