Repository Enriquefft/next-fullstack-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

types:
  run: bunx tsc --noEmit

chore: removed temp design commands
  .claude/commands/design.md
  .claude/commands/init-brand.md
  .claude/commands/speckit.design.md
  .claude/commands/speckit.implement.md
Due: none

feat: added design vibe coding
  .claude/commands/speckit.brand.md
  .claude/commands/speckit.design.md
  .claude/docs/design-system-guide.md
  .claude/docs/figma-mcp-setup.md
  .claude/settings.local.json
  .specify/brand/brand.yaml
  .specify/memory/constitution.md
  .specify/scripts/bash/setup-brand.sh
  .specify/scripts/bash/setup-design.sh
  .specify/templates/brand-template.yaml
  .specify/templates/design-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  README.md
  TODO.md
  src/lib/color-conversion.ts
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  src/lib/color-conversion.ts
Due: lint, types

fix: deploy:env
  .claude/settings.local.json
  README.md
  scripts/deploy/cli/vercel.ts
  scripts/deploy/config.ts
  scripts/deploy/strategies/auto-push.ts
  scripts/deploy/strategies/prompt.ts
  scripts/deploy/types.ts
  scripts/setup-env.ts
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  scripts/deploy/cli/vercel.ts
  scripts/setup-env.ts
Due: lint, types

chore: regular commit
  e2e/playwright.config.ts
  scripts/start-test-server.ts
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  scripts/start-test-server.sh
  scripts/start-test-server.ts
Due: lint, types

chore: regular commit
  README.md
Due: none

chore: regular commit
  .claude/settings.local.json
Due: lint

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  types: any of: *.{js,ts,jsx,tsx}
