Repository Enriquefft/next-fullstack-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: biome >/dev/null 2>&1 && biome check --fix --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

types:
  run: bunx tsc --noEmit

chore: regular commit
  package.json
Due: lint

feat: upgraded to next 16
  bun.lock
  next.config.js
  package.json
  tsconfig.json
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  CLAUDE.md
  bun.lock
  package.json
Due: lint

feat: added testing-library
  .env.example
  README.md
  bun.lock
  bunfig.toml
  next.config.js
  package.json
  src/app/api/uploadthing/core.ts
  src/app/api/uploadthing/route.ts
  src/app/example-uploader/page.tsx
  src/app/layout.tsx
  src/styles/globals.css
  src/utils/uploadthing.ts
  tests/components/button.test.tsx
  tests/happydom.ts
  tests/matchers.d.ts
  tests/testing-library.ts
  tests/utils_test.ts
Due: lint, types

feat: added testing-library and uploadthing
  tests/matchers.d.ts
Due: lint, types

chore: regular commit
  tests/matchers.d.ts
Due: lint, types

chore: regular commit
  biome.jsonc
  bun.lock
  flake.lock
  package.json
  src/styles/globals.css
Due: lint

feat: added metadata compatibility
  biome.jsonc
Due: lint

feat: migrate forms from react-hook-form to TanStack Form
  TANSTACK_FORM_MIGRATION.md
  package.json
  src/components/AddressAutocomplete.tsx
  src/components/form-example.tsx
  src/components/ui/field.tsx
  src/components/ui/form.tsx
Due: lint, types

chore: complete react-hook-form removal and finalize TanStack Form migration
  CLAUDE.md
  knip.config.ts
  src/components/ui/form.tsx
Due: lint, types

chore: remove TANSTACK_FORM_MIGRATION.md
  CLAUDE.md
  TANSTACK_FORM_MIGRATION.md
Due: none

docs: simplify Forms section in CLAUDE.md to save context
  CLAUDE.md
Due: none

fix: update TanStack Form packages to correct versions
  package.json
Due: lint

fix: use DeepKeys type for AddressAutocomplete name prop
  src/components/AddressAutocomplete.tsx
Due: lint, types

feat: migrate forms from react-hook-form to TanStack Form (#17)
  CLAUDE.md
  knip.config.ts
  package.json
  src/components/AddressAutocomplete.tsx
  src/components/form-example.tsx
  src/components/ui/field.tsx
  src/components/ui/form.tsx
Due: lint, types

fix: resolve build errors after merge
  bun.lock
  package.json
  src/components/AddressAutocomplete.tsx
  src/components/form-example.tsx
  src/components/ui/phone-input.tsx
  src/styles/fonts.ts
Due: lint, types

revert: restore Google Fonts import for production builds
  src/styles/fonts.ts
Due: lint, types

fix: resolve build errors after merge (#18)
  bun.lock
  package.json
  src/components/AddressAutocomplete.tsx
  src/components/form-example.tsx
  src/components/ui/phone-input.tsx
Due: lint, types

feat: chagnes
  .claude/settings.local.json
  biome.jsonc
  bun.lock
  messages/en.json
  messages/es.json
  next.config.js
  package.json
  src/app/[locale]/confirmation/page.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/example-uploader/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/api/uploadthing/core.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/auth.ts
  src/components/PostHogProvider.tsx
  src/components/error-boundary.tsx
  src/components/form-example.tsx
  src/db/index.ts
  src/db/schema/schema.ts
  src/env.ts
  src/env/client.ts
  src/env/db.ts
  src/env/index.ts
  src/env/server.ts
  src/i18n/config.ts
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/lib/polar.ts
  src/lib/posthog.ts
  src/proxy.ts
Due: lint, types

chore: regular commit
  bun.lock
  package.json
Due: lint

chore: regular commit
  src/components/form-example.tsx
Due: lint, types

chore: regular commit
  .claude/rules/e2e-testing.md
  .claude/settings.local.json
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  biome.jsonc
  bun.lock
  drizzle.config.ts
  e2e/fixtures/test-data.ts
  e2e/helpers/auth.ts
  e2e/helpers/db.ts
  e2e/helpers/fixtures.ts
  e2e/playwright.config.ts
  e2e/setup/db.ts
  e2e/setup/global-setup.ts
  e2e/setup/global-teardown.ts
  e2e/tests/auth.spec.ts
  e2e/tests/home.spec.ts
  flake.nix
  lefthook.yml
  package.json
  src/components/AddressAutocomplete.tsx
  src/components/ui/field.tsx
  src/env.ts
  src/env/index.ts
Due: lint, types

chore: regular commit
  bunfig.toml
Due: none

feat: updated
  bun.lock
  next.config.js
  next.config.ts
  package.json
Due: lint, types

chore: regular commit
  .claude/commands/implement-prd.md
  .claude/commands/next-step.md
  .claude/prd/00-overview.md
  .claude/prd/01-flows/_index.md
  .claude/prd/01-flows/_template-flow.md
  .claude/prd/01-flows/auth/login-flows.md
  .claude/prd/01-flows/auth/signup-flows.md
  .claude/prd/02-data-models.md
  .claude/prd/03-api-design.md
  .claude/prd/04-ui-components.md
  .claude/prd/05-integrations.md
  .claude/rules/prd-implementation.md
  .claude/settings.local.json
  CLAUDE.md
  README.md
  docs/plan-template.md
  e2e/playwright.config.ts
  next.config.ts
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  CLAUDE.md
  README.md
Due: lint

chore: regular commit
  .claude/rules/e2e-testing.md
  .claude/settings.local.json
  CLAUDE.md
  bun.lock
  drizzle.config.ts
  e2e/playwright.config.ts
  e2e/setup/check-port.ts
  e2e/tests/auth.spec.ts
  src/db/index.ts
  src/env/db.ts
Due: lint, types

fix: switch to system fonts to resolve build issues
  src/styles/fonts.ts
Due: lint, types

chore: regular commit
  .claude/commands/implement-prd.md
  .claude/settings.local.json
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CLAUDE.md
  README.md
  flake.nix
  next.config.ts
  package.json
  scripts/run-e2e.sh
  setup-branch-protection.sh
  setup-github-secrets.sh
  src/app/[locale]/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/seo/schema-script.tsx
  src/lib/seo/metadata.ts
  src/lib/seo/schema/article.ts
  src/lib/seo/schema/base.ts
  src/lib/seo/schema/breadcrumb.ts
  src/lib/seo/schema/faq.ts
  src/lib/seo/schema/index.ts
  src/lib/seo/schema/organization.ts
  src/lib/seo/schema/product.ts
  src/lib/seo/schema/webpage.ts
  src/lib/seo/schema/website.ts
  src/lib/seo/sitemap-utils.ts
  src/metadata.ts
  vercel.json
Due: lint, types

chore: regular commit
  .claude/settings.local.json
  CLAUDE.md
  DEPLOYMENT.md
  flake.nix
  scripts/codebase_ops.sh
  scripts/lib/core/cache.sh
  scripts/lib/core/cleanup.sh
  scripts/lib/core/config.sh
  scripts/lib/core/history.sh
  scripts/lib/core/logging.sh
  scripts/lib/core/merge.sh
  scripts/lib/core/parallel.sh
  scripts/lib/core/utils.sh
  scripts/lib/core/worktree.sh
  scripts/lib/env-setup-lib.sh
  scripts/lib/modes/base.sh
  scripts/lib/modes/fix.sh
  scripts/lib/modes/improve.sh
  scripts/lib/prompts/fix/diagnostic.md
  scripts/lib/prompts/fix/final_review.md
  scripts/lib/prompts/fix/fix_group.md
  scripts/lib/prompts/improve/diagnostic.md
  scripts/lib/prompts/improve/final_review.md
  scripts/lib/prompts/improve/improve_group.md
  scripts/lib/prompts/shared/conflict.md
  scripts/lib/prompts/shared/verification.md
  scripts/setup-branch-protection.sh
  scripts/setup-env.sh
  scripts/setup-github-secrets.sh
  scripts/setup-vercel-env.sh
  setup-github-secrets.sh
Due: lint

chore: regular commit
  .claude/settings.local.json
  .github/workflows/ci.yml
  DEPLOYMENT.md
  README.md
  e2e/playwright.config.ts
  package.json
  scripts/codebase_ops.sh
  scripts/lib/core/config.sh
  scripts/lib/core/utils.sh
  scripts/lib/modes/fix.sh
  scripts/lib/modes/improve.sh
  scripts/setup-env.sh
Due: lint, types

chore: regular commit
  .github/workflows/ci.yml
  e2e/playwright.config.ts
  scripts/codebase_ops.sh
  scripts/lib/core/logging.sh
  scripts/lib/core/worktree.sh
  src/env/db.ts
Due: lint, types

fix: correct TruffleHog base/head comparison for all event types
  .github/workflows/security.yml
Due: none

chore: regular commit
  .claude/settings.local.json
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  e2e/playwright.config.ts
  scripts/codebase_ops.sh
  scripts/debug-db-url.js
  scripts/setup-new-repo.sh
Due: lint, types

chore: regular commit
  .gitignore
Due: none

chore: regular commit
  CLAUDE.md
  README.md
Due: none

feat: add database URL encoding helper scripts
  scripts/encode-db-url.js
  tsconfig.json
Due: lint, types

chore: regular commit
  scripts/debug-db-url.js
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  types: any of: *.{js,ts,jsx,tsx}
