Repository Enriquefft/next-fullstack-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

pre-push:
  parallel: true
  commands:
    build:
      run: bun run build
    test:
      priority: 2
      run: bun test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: biome >/dev/null 2>&1 && biome check --fix --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx tsc --noEmit

docs: document technology choices (#9)
  README.md
Due: none

chore: removed key log
  docs/brand.md
  src/lib/polar.ts
  tests/utils.test.ts
Due: lint, types

docs: clarify Bun installation
  README.md
Due: none

docs: clarify Bun installation (#10)
  README.md
Due: none

fix: added loading guard on useGooglePlaces
  src/hooks/use-google-places.tsx
Due: lint, types

feat: added tests
  src/hooks/use-google-places.tsx
  tests/hooks/use-google-places.test.tsx
Due: lint, types

feat: migrated to @react-google-maps/api
  bun.lock
  package.json
  src/hooks/use-google-places.tsx
  tests/hooks/use-google-places.test.tsx
Due: lint, types

feat: migrated to @react-google-maps/api
  tests/hooks/use-google-places.test.tsx
Due: lint, types

feat: switch to better-auth polar integration
  bun.lock
  package.json
  src/app/api/checkout/route.ts
  src/auth.ts
  src/components/ProductCard.tsx
  src/lib/auth-client.ts
  src/styles/globals.css
Due: lint, types

feat: switch to better-auth polar integration (#11)
  bun.lock
  package.json
  src/app/api/checkout/route.ts
  src/auth.ts
  src/components/ProductCard.tsx
  src/lib/auth-client.ts
  src/styles/globals.css
Due: lint, types

style: simplify global css
  src/styles/globals.css
Due: none

style: simplify global css (#12)
  src/styles/globals.css
Due: none

feat: update
  src/app/layout.tsx
  src/auth.ts
  src/components/ProductCard.tsx
  src/lib/auth-client.ts
  src/styles/globals.css
Due: lint, types

feat: update metadata template
  README.md
  src/metadata.ts
Due: lint, types

feat: update metadata template (#14)
  README.md
  src/metadata.ts
Due: lint, types

feat: update
  src/app/opengraph-image.webp
Due: none

feat: update
  src/app/opengraph-image.png
Due: none

Revert "feat: update"
  src/app/opengraph-image.png
Due: none

feat: update
  src/app/opengraph-image.webp
  src/metadata.ts
Due: lint, types

feat: added og webp image
  src/app/opengraph-image.webp
Due: none

chore: regular commit
  src/metadata.ts
Due: lint, types

chore: moved og webp image
  public/opengraph-image.webp
Due: none

chore: regular commit
  src/app/opengraph-image.png
Due: none

chore: regular commit
  public/opengraph-image.png
Due: none

fix: remove app url instructions
  README.md
Due: none

fix: remove app url instructions (#15)
  README.md
Due: none

chore: updated agents.md
  AGENTS.md
Due: none

chore: regular commit
  .env.example
  src/lib/zod.ts
  src/metadata.ts
Due: lint, types

chore: regular commit
  package.json
Due: lint

chore: regular commit
  bun.lock
  drizzle.config.ts
  package.json
Due: lint, types

feat: added knip config
  knip.config.ts
Due: lint, types

chore: regular commit
  src/components/form-example.tsx
Due: lint, types

feat: added form example
  src/components/form-example.tsx
Due: lint, types

fix: migrated next config from ts to js+jiti
  flake.nix
  next.config.ts
Due: lint, types

fix: migrated next config from ts to js+jiti
  next.config.js
Due: lint, types

chore: updated deps
  bun.lock
  package.json
Due: lint
